@import "tailwindcss";

@theme {
  --color-primary: #957139;
  --color-background: #FAF1E3;
  --color-card-teal: #8EB6AD;
  --color-card-yellow: #FEE29C;
  --color-card-orange: #F8B182;
  --color-card-green: #CBD6B3;
  --color-button-bg: #EFE7DB;
  
  --font-serif: "Inria Serif", serif;
  --font-sans: "Inter", sans-serif;
}

:root {
  --background: #FAF1E3;
  --foreground: #2D2D2D;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
